{% extends "blog/base.html" %}

{% block content %}
    <article class="post">
        <h2>{{ object.title }}</h2>
        <p class="meta">By {{ object.author }} on {{ object.date_posted|date:"F d, Y" }}</p>
        <p>{{ object.content }}</p>
        
        {% if object.author == user %}
            <div class="post-actions">
                <a href="{% url 'post-update' object.id %}" class="btn">Edit</a>
                <a href="{% url 'post-delete' object.id %}" class="btn danger">Delete</a>
            </div>
        {% endif %}
    </article>
{% endblock %}